<div id="splash-page">

    <%= image_tag("logo_yellow.png", :alt => "yellow logo", height: '600', width: '599', id:'logo-yellow') %>
	<div id="splash-info">
        <h3>Location: <%= @contact.location %></h3>
        <br>
        <h3>Hours for Spring 2015</h3>
	    <ul>
	        <% @contact.hours_format.each do |day| %>
            <li><%=day%></li>
         <%end %>
	    </ul>
        <% if @is_admin %>
	        <%= button_to 'Edit Contact Info', welcome_edit_path %>
        <% end %>
    </div>

</div>




