<div id="splash-page">

  <div class="row">
      <div class="col-xs-6">
        <%= image_tag("logo_blue.png", :alt => "yellow logo", height: '100%', width: '100%', id:'logo-yellow') %>
      </div>
        <div id="splash-info col-xs-6">
          <h2>Location: </h2>
          <div id="map-canvas"></div>
          <br>
          <h2>Hours for Spring 2015</h2>
          <ul>
            <% @contact.hours_format.each do |day| %>
                <li><%=day%></li>
            <%end %>
          </ul>
          <% if @is_admin %>
              <%= button_to 'Edit Contact Info', welcome_edit_path %>
          <% end %>
        </div>
    </div>


</div>




