<div class="splash-page">
	<h1 class="splash-header">UC Berkeley Food Pantry</h1>
	<h3>Contact Us!</h3>
	
	<h3>Location: </h3>
	<br>
	<h3>Hours for Spring 2015</h3>
	
	

<%= button_to 'Edit Contact Info', welcome_edit_path %>

</div>




