<h2>About Us</h2>
<p>The UC Berkeley Food Pantry project is a direct response to the need among the student population for more resources to fight food insecurity—the lack of nutritious food. With rising fees, textbook costs, and living expenses, it is becoming increasingly difficult for students to juggle the costs of living with the costs of obtaining a university degree, and thus many students are finding themselves choosing between essentials such as food and basic toiletries and the costs of college. It is for this reason that The Food Pantry has been established—to provide emergency relief to help students continue on to successfully complete and obtain their degrees from the University of California. The Food Pantry is part of the campuswide food security program.</p>
<br>
<h2>Mission Statement</h2>
<p>The Food Pantry provides emergency nonperishable food to UC Berkeley students while they explore campus food security resources.</p>
<br>
<h2>Goals</h2>
<p>To provide emergency nonperishable, nutritious food to UC Berkeley students while they explore campus food security resources.</p>
<br>

