<%= javascript_include_tag "moment.js" %>
<%= javascript_include_tag "fullcalendar.min.js" %>

<div id='calendar'></div>
<%= javascript_tag do %>
	$(document).ready(function() {

	    // page is now ready, initialize the calendar...

	    $('#calendar').fullCalendar({
	        // put your options and callbacks here

	    });
        var myEvent = {
          title:"my new event",
          allDay: true,
          start: new Date(),
          end: new Date()
        };
        $('#calendar').fullCalendar('renderEvent', myEvent)


	});
<% end %>