<div class="alignHelp">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Donate </h3>
      </div>
      <div class="panel-body">
        The Food Pantry is a student-run organization that operates almost entirely on donations from the community. Although we are housed within the Associated Students of the University of California (ASUC), more than 90 percent of our funding and food comes from community donations. Please help our cause by
        <a href="https://givetocal.berkeley.edu/fund/?f=FU1229000">donating</a>
        to the food pantry.
      </div>
    </div>


    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Volunteer</h3>
      </div>
      <div class="panel-body">
        The UC Berkeley Food Pantry is run by volunteers from the UC Berkeley community and its supporters. Volunteers help with food collection, distribution, fundraising, and administrative tasks.
        If you are interested in volunteering, please email us at ucberkeleyfoodpantry@gmail.com
      </div>
    </div>

    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> Partners</div>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">ASUC</li>
        <li class="list-group-item">Executive Vice President</li>
        <li class="list-group-item">Public Service Center</li>
        <li class="list-group-item">Centers for Educational Equity &amp; Excellence (CE3)</li>
        <li class="list-group-item">Division of Student Affairs</li>
        <li class="list-group-item">Division of Equity &amp; Inclusion</li>
        <li class="list-group-item">Financial Aid &amp; Scholarships Office</li>
        <li class="list-group-item">UC Student Regent</li>
        <li class="list-group-item">University Health Services</li>
        <li class="list-group-item">University Village</li>
      </ul>
    </div>
</div>