<div class="trans-logo-background">
	<h2>Partners</h2>
	<p>- ASUC</p>
	<p>- Executive Vice President</p>
	<p>- Public Service Center</p>
	<p>- Centers for Educational Equity &amp; Excellence (CE3)</p>
	<p>- Division of Student Affairs</p>
	<p>- Division of Equity &amp; Inclusion</p>
	<p>- Financial Aid &amp; Scholarships Office</p>
	<p>- UC Student Regent</p>
	<p>- University Health Services</p>
	<p>- University Village</p>
</div>
