<html>
    <head>
        <meta http-equiv="refresh" content="5;url=http://goo.gl/forms/YgP62Iaghg" />
    </head>
    <body>
        <h1>Your order was processed successfully!</h1>
        <p>Your food will be packaged together and ready for pickup in around 30 minutes. Please come pick it up at Stiles Hall on 2400 Bancroft Way. You will soon be redirected to a survey that we hope you will fill out. It will be greatly appreciated. Thank you!</p>
    </body>
</html>
