<html>
    <head>
        <meta http-equiv="refresh" content="10;url=http://goo.gl/forms/YgP62Iaghg" />
    </head>
    <body>
        <div class="alignSurvey">
         <h1>Your order was processed successfully!</h1>
          </br></br>
         <p>Your food will be packaged together and ready for pickup in around 30 minutes. Please come pick it up at Stiles Hall on 2400 Bancroft Way.
           </br>You will soon be redirected to a survey that we hope you will fill out. It will be greatly appreciated. Thank you!</p>
        </div>
    </body>
</html>
