$font-stack: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$gold: #F2A900;
$blue: #003A70;

.food-pantry-logo {
	font: $font-stack 18px !important;
	color: $gold !important;
}
.navbar {
	z-index: 2000;
}
.navbar-right {
	font-family: Montserrat
}

.navbar.navbar-default {
  margin-bottom: 0px;
}