// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#calendar {
	margin-left: 10%;
	margin-right: 10%;
}
// .trans-logo-background {
// 	height: 100vh;
// 	background-image: image-url("logo_blue_trans.png");
// 	background-size: 599px 699px;
// 	background-repeat: no-repeat;
// }
.about-us-info, .help-us-info, .inventory-info {
	font-size: 12px;
}

.container {
	height: 100%;
	width: 100%
}
.about-page, .inventory-page {
	padding-bottom: 100px;
}
.image {
	width: 100%;
	padding: 20px;
    padding-left: 62px;
}
.inventory-items {
  margin-right: 75px;
}

.addpadding{
  margin-bottom: 80px;
}

.alignHelp{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 130px;
}

.alignCarousal{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 160px;
}

.alignCalendar{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}


.carousel-caption a{
  color: white;
}

.item.active {
  margin-left: 20%;
}

