// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#calendar {
	margin-left: 10%;
	margin-right: 10%;
}
// .trans-logo-background {
// 	height: 100vh;
// 	background-image: image-url("logo_blue_trans.png");
// 	background-size: 599px 699px;
// 	background-repeat: no-repeat;
// }
.about-us-info, .help-us-info, .inventory-info {
	font-size: 12px;
}

.container {
	height: 100%;
	width: 100%
}
.about-page, .inventory-page {
	padding-bottom: 100px;
}
.image {
	width: 417px;
	padding: 20px
}

.addpadding{
  margin-bottom: 80px;
}
