// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.alignLogin{
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
}

.loginpage{
  margin-left: 200px;
}