// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#splash-page {
    padding-bottom: 150px;
}
#logo-yellow {
  opacity: 0.9;
  margin-top: 5%;
  margin-left: 5%
}

div[id="splash-info col-xs-6"]{
  padding-top: 130px;
  color: darkgoldenrod;
}

#logo-blue {
  opacity: 0.3;
  margin-top: 5%;
  margin-left: 5%
}

#map-canvas {
  width: 500px;
  height: 400px;
}
