// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#logo-yellow {
  opacity: 0.9;
  margin-top: 5%;
  margin-left: 5%
}

div[class="splash-info col-xs-6"]{
  padding-top: 60px;
}

div[class="first-column col-xs-6"]{
  padding-top: 60px;
  padding-left: 230px;
}

#logo-blue {
  opacity: 0.3;
  margin-top: 5%;
  margin-left: 5%
}

#map-canvas {
  width: 450px;
  height: 370px;
}

.splash-page {
  padding-bottom: 50px;
  margin-bottom: 80px;
  position: relative;
  background: grey;
  overflow: hidden;
}
/* You could use :after - it doesn't really matter */
.splash-page:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.9;
  background-image: url('hills.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.splash-page .row {
  padding: 50px;
  text-align: center;
  z-index: 2;
  position: relative;
  color: #fff;
}