// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#splash-page {
    background-color: #003A70;
    padding-bottom: 150px;
}
#logo-yellow {
  opacity: 0.9;
  margin-top: 5%;
  margin-left: 5%
}

#splash-info {
  position: absolute;
  right: 350px;
  top: 200px;
  color: white;
}

#logo-blue {
  opacity: 0.3;
  margin-top: 5%;
  margin-left: 5%
}
