<footer>
  <div class="information">
    <h4>Contact Us</h4>
    Email: <a href="mailto:ucberkeleyfoodpantry@gmail.com>">Send Us An Email!</a>
    <br />Facebook: <a href="https://www.facebook.com/ucberkeleyfoodpantry">Facebook Page</a>
    </br></br>
  </div>
</footer>
