<footer>
  <div class="inner-footer">
    <div class="information">
      <h4>Contact Us</h4>
      <br/>Email: <a href="mailto:<%= @contact.email%>">Send Us An Email!</a>
      <br />Facebook: <a href="<%=@contact.facebook%>">Facebook Page</a>
    </div>
  </div>
</footer>